{margin: 0; padding: 0;}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montez');

@font-face {
   font-family: Gotham-Thin;
   src: url('https://crtang.github.io/fonts/Gotham Thin 10.57.01 PM.TTF') format('truetype');
}

@font-face {
   font-family: Montez;
   src: url('https://fonts.googleapis.com/css?family=Montez');
}

/* CLASSES */

.flex-container {
   display: -webkit-inline-flex;
   display: inline-flex;
   /*-webkit-flex-flow: row wrap;
   flex-flow: row wrap;*/
}
 
.flex-container > * {
   padding: 50px;
}

.head {
   margin: auto;
   padding: 20px 0px 10px 0px;
}

.center {
   text-align: center;
}

.align img, .align h1 {
   display: inline;
   vertical-align: text-top;
}

.sidebar {
   width: 100%;
}

.pad {
   margin: 0px;
   padding: 0px 0px 20px 0px;
}

.ct {
   margin: auto;
   padding: 50px 0px 0px 0px;
   text-align: center;
   color: #ffffff;
}

.svgh {
   display: none;
   margin: 0px;
   padding: 0px;
}

.main {
   margin: 0px;
   padding: 50px;
   box-sizing: border-box;
   width: 100%;
   background-color: #fff3ef;
}

.footer {
   margin: 0px;
   padding: 20px;
   box-sizing: border-box;
}

.foot {
   margin: 0px;
   padding: 20px 0px 20px 0px;
   font: 12px 'Gotham-Light', serif;
}


/* IDS */

#welcome {
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: 600px;
   background-color: #000000;
   font: 30px 'Montez', sans-serif;
   color: #ffffff;
}

#int {
   margin: auto;
}

#svg-div {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: auto;
}

#site {
   display: inline;
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 0px;
   padding: 0px 0px 0px 15px;
   width: 100%;
   height: 0px;
   font: 35px 'Gotham-Light', serif;
   line-height: 1.5;
}

#about, #contact {
   background-color: #99cc00;
}

#portfolio {
   color: #4e4a4e;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 679px) {
   .flex-container {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
   }
}

@media only screen and (min-width: 680px) and (max-width: 799px) {
   .main {
      padding: 50px 100px 50px 100px;
   }
}

@media only screen and (min-width: 800px) {
   .sidebar {
      margin: 0px;
      padding: 100px 20px 0px 50px;
      width: 25%;
   }
   
   .ct {
      display: block;
      padding: 0px;
      text-align: left;
   }
   
   .svgh {
      display: inline; /* progressive enhancement */
   }
   
   #site {
      display: inline-block;
      font-size: 40px;
      line-height: 1.5;
   }
   
   nav {
      display: block;
      font-size: 30px;
      text-align: right;
   }
   
   nav a {
      display: block;
   }
   
   .main {
      padding: 50px 100px 50px 100px;
      width: 100%;
   }
   
   p {
      font-size: 16px;
   }
}


/* BODY */

body {
   margin: 0px;
   padding: 0px;
   width: 100%;
   box-sizing: border-box;
   background-color: #ffffff;
}

nav {
   display: inline-block;
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 0px;
   padding: 20px;
   width: 100%;
   font: 15px 'Montez', sans-serif;
}

nav a {
   display: inline-block;
   margin: 0px;
   padding: 10px;
}

nav a:hover {
   color: #b2293f;
}

section {
   margin: 0px;
   padding: 0px;
}

h1 {
   
   font: 35px 'Montez', serif;
   line-height: 1.5;
}

p {
   font: 20px 'Gotham-Light', sans-serif;
   line-height: 1.5;
}

a, a:link {
   text-decoration: none;
   color: #000000;
}

a:visited {
   text-decoration: none;
   color: #000000;
}

a:hover {
   text-decoration: none;
   color: #b2293f;
}

a:active {
   text-decoration: none;
   color: #000000;
}


/* FOOTER */

footer {
   display: inline-block;
   margin: 0px;
   padding: 20px;
   width: 100%;
   box-sizing: border-box;
   background-color: #000000;
   text-align: center;
   font: 25px 'Gotham-Light', sans-serif;
   color: #ffffff;
   z-index: 3;
}

a.ft {
   display: inline;
   margin: 0px;
   padding: 0px 10px 0px 10px;
   text-decoration: none;
   font: 18px 'Montez', serif;
   color: #ffffff;
}

a.ft:hover {
   color: #b2293f;
}




