{margin: 0; padding: 0;}

/* FONTS */

/*@font-face {
   font-family: Gotham-Thin;
   src: url('https://crtang.github.io/fonts/Gotham Thin 10.57.01 PM.TTF') format('truetype');
}*/

@font-face {
   font-family: Gotham-Light;
   src: url('https://crtang.github.io/fonts/Gotham Light 10.57.00 PM.TTF') format('truetype');
}

@font-face {
   font-family: Cormorant-Light;
   src: url('https://crtang.github.io/fonts/Cormorant-Light.ttf') format('truetype');
}

@font-face {
   font-family: Cormorant-Regular;
   src: url('https://crtang.github.io/fonts/Cormorant-Regular.ttf') format('truetype');
}

@font-face {
   font-family: Montez;
   src: url('https://fonts.googleapis.com/css?family=Montez');
}


/* BODY */

body {
   margin: 0px;
   padding: 0px;
   background-color: #4e4a4e;
}

nav {
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 0px;
   padding: 0px;
   font: 30px 'Montez', sans-serif;
}

section {
   margin: 0px;
   padding: 0px;
}

h1 {
   font: 30px 'Cormorant-Regular', serif;
   line-height: 1.5;
}

p {
   font: 15px 'Gotham-Light', sans-serif;
   line-height: 1.5;
}

a, a:link {
   display: block;
   text-decoration: none;
   color: #946c1e;
}

a:visited {
   text-decoration: none;
   color: #946c1e;
}

a:hover {
   text-decoration: none;
   color: #12a38c;
}

a:active {
   text-decoration: none;
   color: #946c1e;
}


/* FOOTER */

footer {
   position: absolute;
   width: 100%;
   height: 60px;
   background-color: #12a38c;
   text-align: center;
   font: 15px 'Cormorant-Light', serif;
   color: #f4e5c9;
   z-index: 1;
}


/* CLASSES */

.center {
   text-align: center;
}

.inline {
   display: inline;
}

.align {
   vertical-align: top;
}

.sidebar {
   display: inline;
   margin: 0px;
   padding: 50px;
}

.main {
   display: inline;
   margin: 0px;
   padding: 50px;
   background-color: #f4e5c9;
}


/* IDS */

/*#welcome {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #201f1f;
   font: 25px 'Cormorant-Light', serif;
   color: #f4e5c9;
}

#svg-div {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: auto;
}*/

#site {
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 0px;
   padding: 0px;
   width: 100px;
   height: 104px;
   font: 40px 'Cormorant-Light', serif;
   line-height: 1.3;
}




