{margin: 0; padding: 0;}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montez');

@font-face {
   font-family: Montez;
   src: url('https://fonts.googleapis.com/css?family=Montez');
}

@font-face {
   font-family: Cormorant-Regular;
   src: url('https://crtang.github.io/fonts/Cormorant-Regular.ttf') format('truetype');
}

@font-face {
   font-family: Gotham-Light;
   src: url('https://crtang.github.io/fonts/Gotham Light 10.57.00 PM.TTF') format('truetype');
}


/* BODY */

body {
   margin: 0;
   padding: 0;
   width: 100%;
   box-sizing: border-box;
   background-color: #ffffff;
}

header {
   margin: auto;
   padding: 0;
   width: 50%;
   text-align: center;
   color: #ffffff;
}

nav {
   display: inline-block;
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 10px 20px 10px 10px;
   padding: 0;
   width: 100%;
   font: 16px 'Gotham-Light', sans-serif;
}

nav a {
   display: inline-block;
   margin: 0;
   padding: 10px;
}

nav a:hover {
   color: #a11731;
}

section {
   margin: 0;
   padding: 0;
   width: 100%;
}

h1 {
   font: 32px 'Montez', serif;
   line-height: 1.5;
   text-align: center;
}

p {
   font: 24px 'Gotham-Light', sans-serif;
   line-height: 1.5;
}

a, a:link, a:active, a:visited {
   text-decoration: none;
   color: #4e4a4e;
}

a:hover {
   text-decoration: none;
   color: #ffffff;
   font-weight: bold;
}


/* FOOTER */

footer {
   display: inline-block;
   margin: 0;
   padding: 20px;
   width: 100%;
   box-sizing: border-box;
   background-color: #000000;
   text-align: center;
   color: #ffffff;
   z-index: 3;
}

a.ft {
   display: inline;
   margin: 0;
   padding: 0 10px 0 10px;
   text-decoration: none;
   font: 24px 'Montez', serif;
   color: #595959;
}

a.ft:hover {
   /*color: #ffffff;*/
   color: #a11731;
   font-weight: bold;
}





/* CLASSES */

.flex-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}
 
.flex-container > * {
   padding: 50px;
}

.head {
   margin: auto;
   padding: 10px 0 10px 0;
}

.center {
   text-align: center;
}

.svgh {
   margin: 0;
   padding: 0;
   display: block;
}

.main {
   margin: 0;
   box-sizing: border-box;
   width: 100%;
   background-color: #dcacb3;
}

.footer {
   margin: 0;
   padding: 20px;
   box-sizing: border-box;
}

.foot {
   margin: 0;
   padding: 20px 0 20px 0;
   font: 12px 'Gotham-Light', serif;
}


/* IDS */

#name {
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 0;
   padding: 0;
   font: 42px 'Montez', serif;
   line-height: 1.5;
}

#about, #contact {
   margin: 0;
   box-sizing: border-box;
   width: 100%;
   background-color: #ffffff;
}

#portfolio {
   margin: 0;
   box-sizing: border-box;
   width: 100%;
   background-color: #dcacb3;
}






/* MEDIA QUERIES */
@media only screen and (max-width: 679px) {
   #site {
      font-size: 35px;
   }
   
   .main, #about, #portfolio, #contact {
      padding: 50px;
   }
   
   p {
      font-size: 16px;
   }
}

@media only screen and (min-width: 680px) and (max-width: 799px) {
   .main, #about, #portfolio, #contact {
      padding: 50px 100px 50px 100px;
   }
   
   p {
      font-size: 16px;
   }
}

@media only screen and (min-width: 800px) {
   .head {
      padding: 100px 0 10px 0;
   }
   
   .ct {
      height: 150px;
   }
   
   .svgh {
      display: inline;
   }
   
   .main, #about, #portfolio, #contact {
      padding: 50px 150px 50px 150px;
   }
   
   p {
      font-size: 16px;
   }
}




