{margin: 0; padding: 0;}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montez');

@font-face {
   font-family: Gotham-Thin;
   src: url(file://Users/avollea/web/Gotham%20Thin.TTF);
}

@font-face {
   font-family: Gotham-Light;
   src: url(file://Users/avollea/web/Gotham%20Light.TTF);
}

/* BODY */

body {
   margin: 0px;
   padding: 50px;
}

h1 {
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 0px;
   padding: 0px;
   font: 40px 'Gotham-Thin', sans-serif;
   line-height: 1.3;
}

h3 {
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 0px;
   padding: 0px;
   font: 30px 'Montez', cursive;
}

p {
   font: 15px 'Gotham-Light', sans-serif;
   line-height: 1.5;
}

a, a:link {
   text-decoration: none;
   color: #000000;
}

a:visited {
   text-decoration: none;
   color: #000000;
}

a:hover {
   text-decoration: none;
   color: #018c7c;
}

a:active {
   text-decoration: none;
   color: #000000;
}

.center {
   text-align: center;
}


/* FOOTER */

footer {
   text-align: center;
}
