{margin: 0; padding: 0;}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montez');

@font-face {
   font-family: Gotham-Thin;
   src: url('crtang.github.io/css/Gotham Thin.TTF') format('truetype');
}

@font-face {
   font-family: Gotham-Light;
   src: url('crtang.github.io/css/Gotham Light.TTF') format('truetype');
}

@font-face {
   font-family: Montez;
   src: url('https://fonts.googleapis.com/css?family=Montez');
}

/* BODY */

body {
   margin: 0px;
   padding: 50px;
}

nav {
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 0px;
   padding: 0px;
   font: 30px 'Gotham-Light', sans-serif;
}

#site {
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin: 0px;
   padding: 0px;
   font: 40px 'Montez', sans-serif;
   line-height: 1.3;
}

p {
   font: 15px 'Gotham-Light', sans-serif;
   line-height: 1.5;
}

a, a:link {
   text-decoration: none;
   color: #000000;
}

a:visited {
   text-decoration: none;
   color: #000000;
}

a:hover {
   text-decoration: none;
   color: #018c7c;
}

a:active {
   text-decoration: none;
   color: #000000;
}

.center {
   text-align: center;
}


/* FOOTER */

footer {
   text-align: center;
}
